<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hacker news clone">
    <meta name="author" content="Franco Ghazaleh (franco.ghazaleh@gmail.com)">
    <title>{% block title '' %} - Hacker News Clone</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheet %}{% endblock %}
</head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ url('home') }}">Hacker News Clone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('home') }}">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('top_stories') }}">Top stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('new_stories') }}">New stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ask</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block script %}{% endblock %}
    </body>
</html>
